/*
* Intro Section
*/

section.intro {
    width: 100%;
    min-height: 360px;

    display: flex;
    justify-content: center;
    align-items: end;

    background: center / cover no-repeat url("../assets/images/services/banner.png");

    padding: 0px 20px;
    margin-bottom: 75px;
}

section.intro .intro__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 40px 144px;
    border-radius: 40px 40px 0px 0px;

    background-color: #fff;
}

section.intro .intro__content p {
    opacity: .9;
    font-size: 1.375rem;
}

@media screen and (max-width: 430px) {
    section.intro .intro__content {
        padding: 32px 56px;
    }
    section.intro .intro__content h1 {
        font-size: 2.1875rem;
    }
    section.intro .intro__content p {
        font-size: 1.125rem;
    }
}


/* 
* Projects Section 
*/
section.projects .container {
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

/* project filter */
section.projects .projects__filter {
    max-width: 880px;
    width: 100%;
    min-height: 72px;
    height: fit-content;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;

    border-radius: 18px;
    border: 1px solid rgba(var(--color-brown-rgb), 1);
}

section.projects .projects__filter li{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.projects .projects__filter li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
}

section.projects .projects__filter a.active-filter {
    color: #fff;
    background: var(--color-brown);
    border-radius: 18px;
}

/* projects gallery */
section.projects .projects__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

section.projects .project-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    margin-bottom: 70px;
}

section.projects .project-card a {
    opacity: 1 !important;
}

section.projects .projects-card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.projects .projects-card__footer .icon-wrapper {
    width: 70px;
    height: 70px;
    padding: 28px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--color-brown-rgb), .2);

    transition: all 400ms ease;
}


@media screen and (max-width: 1020px) {
    section.projects .projects__wrapper {
        gap:20px;
    }
}

@media screen and (max-width: 760px) {
    section.intro .intro__content {
        padding: 40px 100px;
    }
    h1 {
        font-size: 2.375rem !important;
    }

    section.projects .projects__filter {
        grid-template-columns: 1fr;
    }
    section.projects li {
        height: 80px !important;
    }

    section.projects .projects__wrapper {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 70px;
    }

    section.projects .project-card  {
        width: 100%;
    }

    section.projects .projects-card__footer {
        margin-top: 15px;
    }
}